@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Lobster&family=Nunito&display=swap');
$theme-colors: (
  "primary": #3563E9,
  "danger": #ff4136
);

$container-max-widths: (
  xl: 1200px,
);
$font-family-sans-serif: 'Inter', sans-serif;

@import "../assets/libs/bootstrap-4.6.2/scss/bootstrap.scss";

@mixin mb($width: 968px) {
  @media (max-width: $width) {
    @content;
  }
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  width: 100%;
}

.btn-primary-shadow {
  box-shadow: 0px 32px 38px 0px rgba(0, 65, 232, 0.20);
}
.custom-input {
  border-radius: 37px;
  background-color: rgba($color: #fff, $alpha: .4);
  border: 0;

  &.input-icon {
    padding: 10px 42px 10px 24px;
  }

  &::placeholder {
    color: white;
  }

  &:focus {
    &::placeholder {
      color: currentColor;
    }
  }

  &~i {
    position: absolute;
    right: 12px;
    color: white;
    top: 50%;
    transform: translateY(-50%);
  }
}

.banner-section {
  max-height: 100vh;
  max-width: 100%;
  overflow: hidden;
  margin-top: 84px;

  @include mb() {
    img {
      height: 100%;
      width: auto !important;
      max-width: unset !important;
      object-fit: cover;
    }
  }
}

.banner-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;

  .banner-title {
    font-size: 64px;
    line-height: 1.2;

    @include mb() {
      font-size: 40px;
    }
  }

  h4 {
    @include mb() {
      font-size: 16px;
    }
  }

  .banner-button {
    padding: 12px 46px;
    font-size: 18px;

    @include mb() {
      font-size: 16px;
    }
  }
}

.rounded-large {
  border-radius: 100px;
}

.quote {
  vertical-align: middle;

  &::before {
    content: '';
    width: 12px;
    height: 1em;
    background-color: #7297F4;
    margin-right: 18px;
    display: inline-block;
    margin-bottom: -.1em;
  }
}

.introduce-container {
  margin-top: 100px;

  @include mb() {
    margin-top: 40px;
  }
}

.introduce-title {
  font-size: 55px;

  @include mb() {
    font-size: 40px;
  }

  @include mb(456px) {
    font-size: 30px;
  }
}

.introduce-sub-title {
  @include mb() {
    font-size: 24px;
  }
}

.introduce-content {
  font-size: 20px;
  line-height: 1.7;

  @include mb() {
    font-size: 16px;
  }
}

.core-values {
  margin-top: 90px;

  @include mb() {
    margin-top: 40px;
  }

  .splide__track {
    min-width: 100%;
  }
}

.introduce-imgs {
  display: grid;
  grid-template-columns: repeat(2, auto);
  row-gap: 20px;
  column-gap: 40px;

  .introduce-img {
    border-radius: 35px;
    overflow: hidden;
    width: 100%;
    padding-bottom: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      max-width: unset;
      height: 100%;
      position: absolute;
      top: 0;
      object-fit: cover;
    }
  }
}

.core-values-images {
  @include mb() {
    display: flex;
    align-items: center;
  }

  @include mb(456px) {
    flex-direction: column;
  }

  .core-value-img {
    border-radius: 35px;
    width: 362px;
    height: 241px;
    z-index: 1;
    position: relative;

    @include mb() {
      padding: 10px;
    }

    img {
      border-radius: inherit;
      max-width: unset;
      object-fit: cover;
      height: 100%;
      width: 100%;
    }

    &.img-smaller {
      width: 331px;
      height: 197px;

      @include mb() {
        width: 362px;
        height: 241px;
      }
    }

    &.img-up {
      transform: translateY(-30%);

      @include mb() {
        transform: none;
      }
    }

    &.img-right {
      float: right;
    }

    &.img-higher {
      z-index: 2;
    }
  }
}

.activities-images {
  max-height: 80vh;
  display: grid;
  grid-template-columns: 1.5fr 0.5fr 1fr 1.3fr 0.7fr 1.5fr 0.5fr 1.6fr 0.4fr 1.6fr 0.4fr;
  grid-template-rows: repeat(7, 1fr);
  gap: 10px 10px;
  grid-template-areas:
    "first . . . . . . . right3 right3 right3"
    "first third third third . . right1 right1 right3 right3 right3"
    "first third third third middle middle right1 right1 right3 right3 right3"
    "first third third third middle middle right1 right1 right3 right3 right3"
    "secound secound four four middle middle right1 right1 right3 right3 right3"
    "secound secound four four middle middle right2 right2 right4 right4 ."
    "secound secound four four . . right2 right2 right4 right4 .";

  .first {
    grid-area: first;

    img {
      object-position: right;
    }
  }

  .secound {
    grid-area: secound;
  }

  .third {
    grid-area: third;
  }

  .four {
    grid-area: four;
  }

  .middle {
    grid-area: middle;
  }

  .right1 {
    grid-area: right1;
  }

  .right2 {
    grid-area: right2;
  }

  .right3 {
    grid-area: right3;
  }

  .right4 {
    grid-area: right4;
  }

  .activiti-img {
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
}

.leader-container {
  padding: 24px;
}

.leaders-imgs {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-between;
  gap: 16px;

  @include mb(576px) {
    grid-template-columns: repeat(2, 1fr);
  }

  .leader-img {
    width: 100%;
    max-height: 378px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }

    .leader-info {
      position: absolute;
      bottom: 0;
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 100%);
      width: 100%;
      padding: 26px 40px;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;

      @include mb() {
        padding: 16px;
      }

      .leader-name {
        font-size: 32px;
        color: white;
        font-weight: 500;

        @include mb() {
          font-size: 18px;
        }
      }

      .position {
        color: #22C55E;
        font-size: 18px;

        @include mb() {
          font-size: 16px;
        }
      }
    }

    .introduce {
      flex-grow: 0;
      height: 0;
      overflow: hidden;
      transition: .24s;
    }

    &:hover {
      .introduce {
        flex-grow: 1;
      }

      .leader-info {
        background: rgba(0, 0, 0, 0.8);
      }
    }
  }

  &.grid-2 {
    grid-template-columns: repeat(2, 1fr);

    .leader-img {
      width: 100%;
      max-height: 608px;

      .leader-name {
        font-size: 35px;
        color: white;
        font-weight: 500;

        @include mb() {
          font-size: 24px;
        }
      }
    }
  }
}

.recruitment-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;

  @include mb() {
    grid-template-columns: repeat(2, 1fr);
  }

  @include mb(567px) {
    grid-template-columns: repeat(1, 1fr);
  }

  .recruitment-card {
    border-radius: 12px;

    p {
      font-weight: 500;
    }

    .apply {
      font-size: 14px;

      p, a {
        font-size: inherit;
        margin: 0;
      }
    }
  }
}

.media-contents {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 60px 16px;

  @include mb() {
    grid-template-columns: repeat(2, 1fr);
  }

  @include mb(567px) {
    gap: 16px;
    grid-template-columns: repeat(1, 1fr);
  }

  .media-item {
    .media-img {
      width: 95px;
      height: 95px;

      img {
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
    }
  }
}

.reviews {
  margin: 0 auto;

  .review {
    border-radius: 16px;
    padding: 24px;
    margin: 0 16px;

    .review-user-img {
      width: 80px;
      height: 80px;
      margin-bottom: 16px;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}

.product-img {
  height: 450px;
  margin: 0 10px;
  border-radius: 15px;
  transition: .24s;
  position: relative;

  img {
    border-radius: inherit;
    width: 100%;
    height: 90%;
    object-fit: cover;
    transition: .24s;
  }

  .product-detail {
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    text-align: right;
    padding: 8px 16px;
    opacity: 0;
    transition: .24;
  }

  &.slick-current {
    transition: .24;

    img {
      height: 100%;
    }

    .product-detail {
      opacity: 1;
    }
  }
}

.policy {
  h5 {
    line-height: 2.5;
  }
}

.footer {
  margin-top: 200px;
}

.custom-slick {
  .slick-arrow {
    &::before {
      color: map-get($map: $theme-colors, $key: "primary");
    }
  }

  .slick-dots {
    li {
      button:before {
        font-size: 11px;
      }

      &.slick-active {
        button:before {
          color: map-get($map: $theme-colors, $key: "primary");
          border: 1px solid map-get($map: $theme-colors, $key: "primary");
          border-radius: 50%;
        }
      }
    }
  }
}

.recruitment-container {
  margin-top: 180px;

  .list-group {
    color: #969696;
  }

  .send-to-skyward {
    border-radius: 20px;
  }
}